{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Ghost?</h1>
  <img src="{% static 'images/nerd-ghost.svg' %}" alt="A ghost using a computer"/>
</div>
<h2>Are you sure you want to delete {{ ghost.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'ghost-detail' ghost.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}