{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if ghost %}
    <h1>Edit {{ ghost.name }}</h1>
  {% else %}
    <h1>Add a Ghost</h1>
  {% endif %}

<div class="page-header">
  <h1>Add a Ghost</h1>
</div>

<form action="" method="post" class="form-container">
  
  {% csrf_token %}
  {{ form.as_table }}
  <input type="hidden" name="next" value="{{ next }}">
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}