{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ghosts/ghost-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Ghost List</h1>
  {% comment %} <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for ghost in ghosts %}
    <div class="card">
      <a href="{% url 'ghost-detail' ghost.id %}">
        <div class="card-content">
          <div class="card-img-container">
          </div>
          <h2 class="card-title">{{ ghost.name }}</h2>
          {% if ghost.level > 0 %}
            <p>A level {{ ghost.level }} {{ ghost.type }}</p>
          {% else %}
            <p>A {{ ghost.type }} ghost.</p>
          {% endif %}
          <p><small>{{ ghost.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}